<p>
  <b>Titulo:</b>
  <%=h @atividade.titulo %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @atividade.descricao %>
</p>


<%= link_to 'Edit', edit_atividade_path(@atividade) %> |
<%= link_to 'Back', atividades_path %>