<table border="1">
  <tr>
    <th>Alternativas</th>
    <th>Correto</th>
    <th>Remover</th>
  </tr>
  <tr>
    <td>sadgasdgasgasgas</td>
    <td>X</td>
    <td align="center"><button>X</button></td>
   </tr>
</table>

<br />