<table border="1" style="width: 98%;">
  <tr>
    <th>Sequencia</th>
    <th>Descrição</th>
    <th>Remover</th>
  </tr>
    <% if @alternativas %>
  		<% @alternativas.each do |alternativa| %>
  			<tr>
    			<td style="text-align:center;"><%=h alternativa.sequencia	 %></td>
    			<td><%=h alternativa.descricao %></td>
    			<td style="text-align:center;"><%= link_to_remote 'X', :url => { :action => "destroyquestaoobjetiva", :id => alternativa.id}, :update => "lista_obj", :confirm => 'Deseja remover esta alternativa?'  %></td>
  			</tr>
		<% end %>
    <% end %>
</table>

<br />