<div id="ui-widget">
  <h4>Avalia&ccedil;&otilde;es</h4>
  <ul>
    <% unless @avaliacoes.blank?  %>
      <% @avaliacoes.each do |a| %>
        <li><%=a.titulo %> - <%= a.titulo%></li>
      <% end %>
    <% end %>
  </ul>
</div>

