<div id="area_login">
	<h1>Acesse o sistema:</h1>
	<table>
		<tr>
			<td>Login</td>
			<td><input type="text" id="login_input" /></td>
		</tr>
		<tr>
			<td>Senha</td>
			<td><input type="password" id="senha_input" /></td>
		</tr>		
	</table>
	<p><%= link_to 'Cadastrar-se', :controller => :usuarios, :action => :new %></p>	
</div>	
